<!doctype html>
<title>{% block title %}{% endblock %} - Radio</title>
<link rel="icon" type=image/svg+xml" href="{{
				    url_for('static',
				    filename='images/favicon/icon.svg') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://kit.fontawesome.com/9309df032e.js" crossorigin="anonymous"></script>
<div>
  <h1>Radio App</h1>
</div>

<nav>
  <ul>
    <li><a href="{{ url_for('radio.radio') }}">Control</a></li>
    <li><a href="{{ url_for('radio.playing') }}">Playing</a></li>
    {% if g.user %}
    <li><span>{{ g.user['username'] }}</span></li>
    {% else %}
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<nav>
  <ul>
    <li><a href="#"><i class="fas fa-backward"></i></a></li>
    <li><a href="#"><i class="fas fa-play-circle"></i></a></li>
    <li><a href="#"><i class="fas fa-pause-circle"></i></a></li>
    <li><a href="#"><i class="fas fa-forward"></i></a></li>
  </ul>
</nav>
