{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Control{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p>Media to Stream:</p>
    <div>
      {% for resource in resources %}
      <input type="radio" id={{ "media:%s" % resource.key }} name="media"
	     value={{ resource.key }} >
      <label for=id={{ "media:%s" % resource.key }}>{{resource.name}}</label>
      {% endfor %}
    </div>

    <p>Audio Device:</p>
    <div>
      <input type="radio" id="speaker:kitchen" name="speaker"
	     value="Kitchen" checked>
      <label for="speaker:kitchen">Kitchen (Sonos)</label>
    </div>
    
    <div>
      <input type="submit" value="Play">
      </div>
  </form>
{% endblock %}
