{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Control{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p>Media to Stream:</p>
    <div>
      {% for resource in mediaResources %}
      <input type="radio" name="media" required
	     id="input:{{ resource.key }}" 
	     value="{{ resource.key }}" >
      <label for="input:{{ resource.key }}">{{resource.str()}}</label>
      {% endfor %}
    </div>

    <p>Audio Device:</p>
    <div>
      {% for resource in playbackResources %}
      <input type="radio" name="speaker" required
	     id="input:{{ resource.key }}"
	     value="{{ resource.key }}" >
      <label for="input:{{ resource.key }}">{{resource.str()}}</label>
      </label>
      {% endfor %}
    </div>
    
    <div>
      <input type="submit" value="Play">
      </div>
  </form>
{% endblock %}
